/* Rectangle 3 */
/* Rectangle 3 */
.rectangle-3 {
  position: absolute;
  width: 1082px;
  height: 164px;
  background: url('/pexels-fauxels-3184639.jpg');  /* Correct path to the image in the public folder */
  background-size: cover;  /* Ensures the image covers the entire div */
  background-position: center;  /* Centers the image */
}

/* Hire Me, Please! */
.hire-me-title {
  position: absolute;
  width: 681px;
  height: 74px;
  font-family: 'Istok Web';
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 101px;
  color: #FFFFFF;
}

/* Rectangle 12 */
.rectangle-12 {
  position: absolute;
  width: 509px;
  height: 303px;
  background: #AEAEC2;
}

/* Rectangle 4 */
.rectangle-4 {
  position: absolute;
  width: 457px;
  height: 483px;
  background: #E2A2A2;
}

/* Job Description */
.job-description {
  position: absolute;
  width: 384px;
  height: 402px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #4A3030;
}

/* Rectangle 13 */
.rectangle-13 {
  position: absolute;
  width: 304px;
  height: 32px;
  background: #D9D9D9;
}

/* Rectangle 14 */
.rectangle-14 {
  position: absolute;
  width: 304px;
  height: 33px;
  background: #D9D9D9;
}

/* Username */
.username {
  position: absolute;
  width: 107px;
  height: 25px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* Password */
.password {
  position: absolute;
  width: 105px;
  height: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0B0505;
}

/* Login */
.login {
  position: absolute;
  width: 54px;
  height: 26px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

/* New user? Register here */
.new-user-register {
  position: absolute;
  width: 234px;
  height: 23px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

/* Sign in to get started */
.sign-in-start {
  position: absolute;
  width: 243px;
  height: 29px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/* Text */
.text {
  position: absolute;
  width: 0px;
  height: 101px;
}

/* Get your act together with this application tracking tool */
.application-tracking {
  position: absolute;
  width: 498px;
  height: 29px;
  font-family: 'Istok Web';
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
}
